MOLLIE_API_KEY="your-api-key"
MOLLIE_LIVE_API_KEY="your-live-api-key"
NEXT_PUBLIC_MOLLIE_PROFILE="pfl_yourprofile"
DOMAIN="https://your-domain.com"
WEBHOOK_URL="htpps://your-domain.com/api"
MOLLIE_WEBHOOK_SECRET="your-webhook-secret"

# Google Auth for secret features
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
AUTH_SECRET="a-random-string-of-at-least-32-characters"